<h1><center>Personal Loan Data Modelling</center></h1>

<h3>1. Import Dependencies</h3>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import sklearn

<h3>2. Load Dataset</h3>

In [21]:
#import dataset
dataset = pd.read_csv('bank_personal_dataset.csv')
dataset.head(2)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0

<h3>3. Data Cleansing | Wrangling</h3>

In [22]:
#check all info of dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [23]:
#check rows and columns of the dataset
print("Samples Number: ", dataset.shape[0])
print("Features Number: ", dataset.shape[1])

Samples Number:  5000
Features Number:  14

In [24]:
#check all features have null value or not
print(dataset.isnull().any())
print("*" * 50)
print(dataset.isnull().sum())

ID                    False
Age                   False
Experience            False
Income                False
ZIP Code              False
Family                False
CCAvg                 False
Education             False
Mortgage              False
Personal Loan         False
Securities Account    False
CD Account            False
Online                False
CreditCard            False
dtype: bool
**************************************************
ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [25]:
dataset.rename(columns={
    'ID':'id',
    'Age':'age',
    'Experience':'experience',
    'Income':'income',
    'ZIP Code':'zip_code',
    'Family':'family',
    'CCAvg':'cc_avg',
    'Education':'education',
    'Mortgage':'mortgage',
    'Personal Loan':'loan_status',
    'Securities Account':'security_account',
    'CD Account':'cd_account',
    'Online':'internet_banking',
    'CreditCard':'credit_card'
},inplace=True)

In [26]:
#list all the features
for i,j in enumerate(dataset.columns):
    print(i,j)

0 id
1 age
2 experience
3 income
4 zip_code
5 family
6 cc_avg
7 education
8 mortgage
9 loan_status
10 security_account
11 cd_account
12 internet_banking
13 credit_card

In [30]:
#check duplicated values
dataset_duplicated = dataset.duplicated(subset=['id','age','family',
                                    'income','experience'],keep='first')
if dataset_duplicated.any() == True:
    print("Dataset has duplicated values")
else:
    print("Dataset has no duplicated values")

Dataset has no duplicated values